<html>

    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="/style-index.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        
        <div id="container-nav">
              
            <nav id="navbar">
                <ul>
                    <form id="form-li"
                          action="/home-user" method="get">
                        <button type="submit" id="home-button"><a><strong>DANK</strong></a></button>
                    </form>    
                    
                    <form id="form-li"
                          action="post/search-user" method="post">
                        <input type="search" id="search-box" placeholder="Search...">
                        <button type="submit" id = "searchSubmit"><i class="fa fa-search"></i></button>
                    </form>
                    
                     <form id="form-li" action="/home-user" method="get">
                        <button type="submit" id="home-but"><a><strong><i class="fa fa-home"></i></strong></a></button>
                    </form> 
                    
                    <form id="form-li" action="/profile" method="post">
                        <li><button type="submit" id="profile-button"><strong>Profile</strong></button></li>
                    </form>    
                </ul>


            </nav>
        </div>
        <br><br><br>
          <div id="upload-container">
            <form action="edit" method="post">
                <input type ="hidden" value="{{post._id}}" name="id">
            <strong id="dis"> TITLE </strong>    
           <div class="up-group"><input type="text" id = "title" value="{{post.title}}" name="title"></div>
            
           
            <br>
            <strong id="dis"> DESCRIPTION </strong>
            <div class="up-tags"><textarea name="description" id = "description" placeholder="{{post.description}}"></textarea></div>
                
            
            <br>
            <strong id="dis"> TAGS </strong>        
            <div class="tags-cont"><textarea role="combobox" id = "tags" placeholder="{{post.tags}}" name="tags"></textarea></div> 
            
            
            <br>
            <strong id="dis">PRIVACY</strong> 
            <br> 
            <select name="privacy" id="meme-privacy" value="public">
               <option value="public">public</option>
               <option value="private">private</option>
            </select>
               
            <br>
            <strong id="dis">Share To:</strong>
            <div>      
                Choose users:
                {{#each users}}
                <input name ="shareto"type="checkbox" value="{{username}}">@{{username}}<br>
                {{/each}}
            </div>
            <br>
                
            <div id="submit-cont">    
            <input id="submit-button" type = "submit" id = "submit">
            </div>
            </form>
        </div>  
    </body>
</html>