<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style-user.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>DANK</title>
    </head>
    
    <body>
        <div id="container-nav">
              
            <nav id="navbar">
                <ul>
                   <form id="form-li" action="/home-user" method="get">
                        <button type="submit" id="home-button"><a><strong>DANK</strong></a></button>
                    </form>    
                    
                    <form id="form-li" action="/search-user" method="post">
                        <input type="search" id="search-box" placeholder="#tags" name="tags">
                        <button type="submit" id = "searchSubmit"><i class="fa fa-search"></i></button>
                    </form>
                    
                   
                   
                    <form id="form-li" action="/profile" method="post">
                    <li><button type="submit" id="profile-button"><strong>Profile</strong></button></li>
                    </form> 
                    
                     <form id="form-li" action="post/upload" method="post">
                    <li id="upload-li"><button type="submit" id="upload-button"><strong><i class="fa fa-upload"></i> Upload</strong>
                    </button></li>
                    </form>    
                    
                </ul>
            
             </nav>
             
        </div> 
        <br>
        <div id ="sep"><p> space </p></div>
        <br>
        
        <div class="user-profile-container">
            <span>{{tag}} </span>
            <br><br>
            
        </div>
        
        <div id="content-container">
           {{#each posts}}
            {{#checkprivacy 'public' privacy}}
            <div class="post-container">
                
                <div class="icon"></div>
                <div class="name"><span><a>{{authorname}}</a></span></div>
                
                 <div class="title-des">
                    <span><h2>{{title}}</h2></span>
                </div>
                
               
                
                <input type="hidden" id="Id" value="{{_id}}"> 
                <input type="hidden" id="Author" value="{{author}}"> 
                <input type="hidden" id="Privacy" value="{{privacy}}"> 
                
                
              
                    <a>
                       
                        <img id="my_image" src="/photo/{{id}}"/>
                    </a>
               
                 <div class="description">
                    <span>{{description}}</span>
                </div>
                <div class="tags">
                    <span class="tag-cont">{{tags}}</span> <span class="space"> </span>
                </div>
            
            </div>
            {{else}}
            {{/checkprivacy}}
            {{/each}}
         </div>
        
    </body>

</html>